
.project-description-container{
 /*height:515px;*/
    color:black;
    /*text-align:center;*/
}
.homepage_describe{
    margin:0 auto;
}
.about-header{
    font-weight: bold;
    font-size:46px;
    text-align:center;
    color: #4D64AC
}
.about-text{
 font-size:28px;
    /*max-width:860px;*/
    margin-left:60px;
    margin-right:60px;
    color:#383C48

}
a.sbitshref{
    text-decoration: underline;
    color: #4D64AC;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .about-header {
        font-size: 20px;
    }

    .about-text {
        margin: 0 5%;
        font-size: 18px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 700px), only screen and (   min--moz-device-pixel-ratio: 2) and (min-width: 700px), only screen and (     -o-min-device-pixel-ratio: 2/1) and (min-width: 700px), only screen and (        min-device-pixel-ratio: 2) and (min-width: 700px), only screen and (           min-resolution: 192dpi) and (min-width: 700px), only screen and (            min-resolution: 2dppx) and (min-width: 700px) {
    .about-header {
        font-size: 30px;
    }

    .about-text {
        font-size: 25px;
    }
}