.accordion__head {
	height: 50px;
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;

	background-color: #3253a1;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.accordion__head--closed {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.accordion__head__name {
	float: left;

	color: #fff;
	line-height: 50px;
	font-weight: bold;
	font-size: 16px;
}

.accordion__head__arrow {
	float: right;
	width: 24px;
	height: 14px;
	margin-top: 18px;
}

.accordion__head__arrow--closed {
		-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    		transform: rotate(180deg);
}

.accordion__content {
	padding: 20px;
	overflow: hidden;

	background-color: #dcdee6;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.accordion__content__description {
	float: left;
	width: 60%;
}

.description__label--bold {
	font-weight: bold;
	font-size: 16px;
	color: #000;
}

.description__p {
	margin: 0;
	margin-bottom: 20px;
	font-size: 16px;
	color: #000;
}

.accordion__content__image {
	float: right;
	width: 30%;
	height: auto;
}

.accordion__content__button {
	clear: both;
	float: right;
	width: 30%;
}



/*
.accordion__accordion-content {
    overflow: hidden;
	background-color: #dcdee6;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.accordion_description {
	width: 100%;
	overflow: hidden;
}

.accordion_description_text {
	width: 60%;
	color: #383c48;
	float: left;
	margin: 20px 0 0 20px;
}

.accordion_description_img {
	width: 30%;
	float: right;
}

.accordion_description_img img {
	width: 90%;
	float: right;
	height: auto;
	margin: 20px 20px 0 0;
}

.bold_text {
	font-weight: bold;
}

.accordion_description_space {
	width: 100%;
	height: 20px;
}

.accordion_arrow {
	float: right;
}

.accordion_arrow img {
	margin-right: 20px;
	height: 13px;
	width: 21px;
}
*/
/*
*/
/*
.btn button {
	margin: 20px 20px 20px 0;
}

@media only screen and (min-width: 768px) and (max-width: 920px) {
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
	.accordion_description {
		width: 100%;
		overflow: hidden;
	}

	.accordion_description_text {
		width: 90%;
		float: none;
		margin: 5%;
	}

	.accordion_description_img {
		width: 0;
		height: 0;
		overflow: hidden;
	}

	.btn {
		float: none;
		margin: 0 auto;
	}
	
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 700px), only screen and (   min--moz-device-pixel-ratio: 2) and (min-width: 700px), only screen and (     -o-min-device-pixel-ratio: 2/1) and (min-width: 700px), only screen and (        min-device-pixel-ratio: 2) and (min-width: 700px), only screen and (           min-resolution: 192dpi) and (min-width: 700px), only screen and (            min-resolution: 2dppx) and (min-width: 700px) {

	.ellement {
		background-color: #3253a1;
		border-radius: 4px;
		height: 100px;
		margin-top: 10px;
		font-weight: bold;
		font-size: 50px;
		line-height: 100px;
		padding-left: 15px;
	}

	.accordion_description {
		width: 100%;
		overflow: hidden;
	}

	.accordion_description_text {
		width: 90%;
		float: none;
		margin: 5%;
		font-size: 50px;
	}

	.accordion_description_img {
		width: 0;
		height: 0;
		overflow: hidden;
	}



	.btn {
		width: 100%;
		overflow: hidden;
		float: none;
		margin: 0 auto;
	}

}
*/