input.form-control.red-error[type="text"]{
    outline:2px solid #f8aa26;
}
input.form-control.red-error[type="email"]{
    outline:2px solid #f8aa26;
}
input.form-control.red-error[type="text"]:focus{
    outline: none !important;
}
input.form-control.red-error[type="email"]:focus{
    outline: none !important;
}

input.form-control.red-error[type="password"]{
    outline:2px solid #f8aa26;
}
input.form-control.red-error[type="password"]:focus{
    outline: none !important;
}

input.red-error[type="text"]{
    outline:2px solid #f8aa26;
}
input.red-error[type="email"]{
    outline:2px solid #f8aa26;
}

input.red-error[type="text"]:focus{
    outline: none !important;
}
input.red-error[type="email"]:focus{
    outline: none !important;
}

input.red-error[type="password"]{
    outline:2px solid #f8aa26;
}
input.red-error[type="password"]:focus{
    outline: none !important;
}

.errors {
    font-size:15px;
 	height: 15px;
 	color: #f8aa26;
 }

 .infoBlock {
     font-size:15px;
	 color: green;
	 height: 15px;
 }

.ad{
    margin:4px !important;
}

.errorsBind{
    font-size:15px;
    height: 15px;
    color: #f8aa26;
}