
.discount-description-container{
    width:100%;
    min-height:400px;
    float:left;
    /*border-top-left-radius: 5px;*/
    /*border-top-right-radius: 5px;*/
}
.advertisment{
    background-color: white;
    color:#3253a1;
    border-radius:3px;
    text-align: center;

    order:1;
}
.adv-header{
    font-size:20px;
    font-weight:bold;

}
.adv-text{
    color: black;
}
.reg_button {

    color: #fff;
    margin: 0 auto;
    background-color: #BAC0D0;
    height: 40px;
    /* width: 100%; */
    border-radius: 3px;
    border-bottom: 4px solid #8990A3;
    text-align: center;
    text-transform: uppercase;
    /*letter-spacing: 1px;*/
    font-weight: 800;
    /* font-size: 0.65em; */
    line-height: 40px;
    font-size:15px;
    width: 200px;
    display:inline-block;
}
.accordion_description{
    margin-bottom: 180px;
}
.ellement{
    margin-top:0px !important;
}
.ellement_sub{
    color:black;
}
.prereg{
    text-align:center;
}
.ellement{
    text-align: center;
    text-transform: uppercase;
}




@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 700px), only screen and (   min--moz-device-pixel-ratio: 2) and (min-width: 700px), only screen and (     -o-min-device-pixel-ratio: 2/1) and (min-width: 700px), only screen and (        min-device-pixel-ratio: 2) and (min-width: 700px), only screen and (           min-resolution: 192dpi) and (min-width: 700px), only screen and (            min-resolution: 2dppx) and (min-width: 700px) {
    .adv-header{
        font-size:50px;
    }
    .advertisment{
        order:1;
        width:100%;
        font-size:40px;
    }
    .discounts{
        order:2;
        width:100%;
        margin-top:20px;
    }

    .disc-adv-wrapper{
        display: flex;
        flex-direction: column
    }

    .prereg{
        font-size:50px;
    }
    .reg_button{
        display:block;
        width:100% !important;
        font-size:40px;
        height:70px;
        line-height:1.5;
    }
}