body {
	margin: 0;
	outline: none;
}

.form {
	margin: 50px auto 0 auto;
	padding: 35px;
	width: 470px;
	background-color: #3956a3;
}

.form--small {
	float: right;
	//margin: 50px auto 0 auto;
	padding: 20px;
	width: 35%;
	background-color: #3956a3;
}

@media only screen and (max-width: 919px) {

	.form--small {
		width: 470px;
		float: none;
		padding: 35px;
		margin: 0 auto 20px auto;
	}

}

.form__label {
	display: block;
	margin-bottom: 35px;
	text-align: center;
	font-size: 35px;
	text-transform: uppercase;
	font-family: Splash;
	color: #fff;
}

.form__input {
	//width: 400px;
	margin-bottom: 10px;
}

.input__label {
	display: block;
	font-family: Roboto;
	font-size: 16px;
	letter-spacing: 1px;
}

.input__input {
	outline: none;
	border: none;
	width: 100%;
	height: 46px;
}

.input__input-textarea {
	outline: none;
	border: none;
	width: 100%;
	height: 160px;
}

.input__input-error {
	outline: none;
	border: solid 2px orange;
	width: 100%;
	height: 46px;
}

.input__input-textarea-error {
	outline: none;
	border: solid 2px orange;
	width: 100%;
	height: 160px;
}

.input__error {
	height: 19px;
	font-family: Roboto;
	font-size: 16px;
	letter-spacing: 1px;
	color: orange;
}

.input__button {
	
}

.button__button--red {
	border: none;
	border-radius: 3px;
	border-bottom: solid 4px #de003c;
	background-color: #ff466a;
	height: 50px;
	width: 100%;
	margin-top: 15px;

	font-size: 25px;
	line-height: 50px;
	text-transform: uppercase;
	font-family: Splash;
	color: #fff;
}

.button__button--red--small {
	border: none;
	border-radius: 3px;
	border-bottom: solid 4px #de003c;
	background-color: #ff466a;
	height: 40px;
	width: 100%;
	margin-top: 15px;

	font-size: 18px;
	line-height: 40px;
	text-transform: uppercase;
	font-family: Splash;
	color: #fff;
}

.form-style {
	margin: 0 auto;
	width: 500px;
	background-color: blue;
	color: #fff;
}

.form-style h2 {
	text-align: center;
}

.form-style label {
	margin-left: 20px;
	display: block;
}

.form-style input {
	border: none;
	margin-left: 20px;
	width: 460px;
	outline: none;
}

.form-style textarea {
	outline: none;
	padding:0;
	margin-left: 20px;
	width: 460px;
}

.form-style input[type="button"] {
	background-color: red;
	color: #fff;
	border-bottom: solid 4px orange;
	border-radius: 3px;
}

.form-style {
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
	.form-style {
		width: 300px;
	}

	.form-style label {
		margin-left: 10px;
		display: block;
	}

	.form-style input {
		margin-left: 10px;
		width: 280px;
	}

	.form-style textarea {
		margin-left: 10px;
		width: 280px;
	}
}