.navPillsContainer{
	width:37%;	
	margin: auto;
	
	
}

.generation-repayment-container {
	max-width: 960px;
	width: 80%;
}

.generation-repayment-container h3 {
}

.generate-ok, .repay-ok{
	margin-top: 10px;
	text-align: center;
	background-color: white;
	color: black;
	width: 80%;
	line-height: 50px;
	height: 50px;
	display: inline-block;	
	 -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    border:none;
    border-bottom:4px solid #de003c;
    background-color:#ff466a;
    color:#fff;
    letter-spacing: 1px;
    font-weight:800;
}

.main .generate-discount-block {
	text-align: center;
	margin: auto;
	min-width: 320px;
	/*display: inline-block;*/
	width: 40%;
	background-color: #3956a3;
}



input[type="text"]{
	width:80%;
	height:50px;
	font-size: 24px;	
	border: 2px solid #e0e0e0;
	background: transparent;
	color: black;
}
input[type="text"]:focus{
	border-color: black;
}

.gift{
	text-align: left;
	margin-left: 10%;
	
}

.main .repayment-block {
	text-align: center;
	/*float: right;	*/
	/*display: inline-block;*/
	min-width: 320px;
	margin:auto;
	width: 40%;
	background-color: #3956a3;
	height: 190px;
}
.generation-repayment-container{
width:100%;

}
input.gift{
	text-align: left;
}

.shadow {
	/*clear: both;*/
	height: 20px;
	width: 100%;
}

