@font-face {
	font-family: Roboto;
	src: url("/resources/fonts/RobotoCondensed-Light_0.ttf") format("opentype");
}

@font-face {
	font-family: Roboto;
	font-weight: bold;
	src: url("/resources/fonts/IgdfK4NT.otf") format("opentype");
}

body {
	font-family: Roboto;
	margin: auto;
	width: 100%;
	min-width:320px;
	background-color: #eaecf3;
	outline: 0 solid red;
	color: white;
}

a {
	text-decoration: none;
}
a.reg-href {
    font-size: 2em;
    margin-top:0.3em;
    display:block;
}
a.reg-href:hover, a.reg-href:focus{
    color:#fff;
}
input.yes#bind[type="submit"]{
    font-size: 1.45em;
}
input.yes[type="submit"]{
    display:block;
    /*margin-top:15px;*/
    height:50px;
    line-height:50px;
    width:100%;
    border:none;
    border-bottom: 4px solid #de003c;
    background-color: #ff466a;
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 1.25em;
}

input.add#bind[type="submit"]{
    font-size: 1.45em;
}
input.add[type="submit"]{
    display:block;
    margin-top:15px;
    width:100%;
    border:none;
    border-bottom:4px solid #CE253C;
    border-radius:3px;
    background-color: #ff466a;
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 1.25em;
    height: 50px;
    line-height:50px;
}

input.add#bind[type="button"]{
    font-size: 1.45em;
}
input.add[type="button"]{
    display:block;
    margin-top:5px;
    width:100%;
    border:none;
    border-bottom:4px solid #CE253C;
    border-radius:3px;
    background-color: #ff466a;
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 1.25em;
    height: 50px;
    line-height:50px;
}

.main {
	width: 80%;
	margin: 0 auto;
	clear: both;
	margin-top: 40px;
	max-width: 960px;
	min-width: 320px;
	overflow: hidden;
}

.main .add-button {
	float: right;
	width: 35%;
	height: 40px;
	margin-bottom: 20px;
}

.main .add-button .morph-button-add{
		width: 100%;
	}


.main .discounts {
	margin-top: 0;
	float: left;
	width: 60%;
	height: 100%;
}

.main .advertisment {
	clear: right;
	float: right;
	width: 35%;
}

.main .advertisment img {
	width: 100%;
}

.shadow {
	clear: both;
	height: 20px;
	width: 100%;
}

.tabs {
	border-radius: 0;
	overflow: hidden;
}

.tabs ul {
	overflow: hidden;
	margin-top: 0;
	margin-bottom: 20px;

}

.tabs li {
	border-radius: 0;
	width: 50%;
	text-align: center;
}

.tabs a {
	text-decoration: none;
}

.discount {
	margin-bottom: 3px;
}



.discount .collapsed .heading{
	box-shadow: none;
	border-radius: 3px;
	position: relative;
	padding: 2%;
	padding-left: 3%;
	background-color: #3956a3;
	color: #fff;
	font-weight: bold;
}

.discount .heading{
	/*border-radius: 3px;*/
	box-shadow: 0 4px 2px 0 rgba(0,0,0,0.6);
	border-radius: 3px 3px 0 0;
	position: relative;
	padding: 2%;
	padding-left: 3%;
	background-color: #3956a3;
	color: #fff;
	font-weight: bold;
}

.discount .collapsed{
}

.discount .heading:before,
.discount .heading:after {
    content:"";
    position:absolute;
    z-index:-2;
}

.discount .describe {
	overflow: hidden;
	color: black;
	background-color: #dcdee6;
	border-radius: 0 0 3px 3px;
}

.describe_shadow {
	width: 100%;
	height: 0px;
	/*background: linear-gradient(to top, #f0f0f0, #000 70%);*/
}

.describe_shadow_down {
	float: left;
	width: 100%;
	height: 0px;
	/*background: linear-gradient(to top, #000 5%, #a6a6a6, #f0f0f0);*/
}

.discount .text {
	float: left;
	width: 60%;
	padding: 3%;
    word-break: break-all;
}

.discount .btn {
	float: right;
	width: 25%;
}

.discount .describe a {
	color: black;
	text-decoration: none;
}

.b_text {
	width: 140px;
	float: right;
	text-align: center;
	background-color: #ff466a;
	color: white;
	font-weight: bold;
	margin: 10%;
	padding: 10px 10px;
}

.registration-form {
width:470px;
margin: auto;
text-align:center;
min-width:320px;
color: #fff;
background-color:#3956a3;
outline: none;
}

.registration-form input , .use-discount-form input {
	text-decoration:none;
	border:none;
}

input.form-control[type='text']{
	padding-left: 5px;
	height: 30px;
	outline: none;
}

input.form-control[type='password']{
	padding-left: 5px;
	height: 30px;
	outline: none;
}

input.form-control[type='text']:focus{
	outline: none;
}

input.form-control[type='password']:focus{
	outline: none;
}

.registration-button {
	color: #fff;
	height: 40px;
	width: 180px;
	background-color: #ff466a;
	margin-bottom: 10px;
}

.no {
	background: #bbc0d0;
}

.reg-href {
	text-decoration:none;
	color: #fff;
	font-size: 1.25em;
}

.registrarion-btn {
    color: #fff;
    background-color: #b8becf;
    height:50px;
    width: 100%;
    border-bottom: 4px solid #868ea1;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;   font-weight: 800;
    font-size: 0.65em;
    line-height: 50px;
}

@media screen and (min-width: 320px) and (max-width: 799px) {

	.main .add-button {
		width: 100%;
		float: none;
	}
	.main .add-button .morph-button-add{
		width: 100%;
	}

	.main .discounts {
		width: 100%;
	}

	.main .advertisment {
		width: 0px;
	}

	.discount .text {
	width: 65%;
	padding: 3%;
}

	.discount .btn {
		clear: both;
	float: right;
}
}

/*#h_sign_btn {
	height: 100%;
	position: relative;
	float: right;
	
}

#h_sign_btn_txt {
	margin-top: 25%;
	text-align: center;
	width: 120px;
	height: 40px;
	line-height: 250%;
	background-color: orange;
	z-index: 999;
}*/

input.exit-button[type="submit"]{
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    -webkit-appearance: button;
    cursor: pointer;
    padding: 0 1em;
    border: none;
    background-color: #3253a1;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.6);

    overflow: hidden;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    z-index: 1000;
    width: 100%;
    height: 40px;
    line-height: 40px;

}
.description-heading{
    font-weight:bold;
}
.store-img{
    height: 75px;
}
.store-img-container{
    float:right;
    display:inline;
    padding-top:10px;
    padding-right:15px;
}
.description-container{
    width:100%;
}

.before-morph{
    border-bottom:3px solid #CE253C !important;
}

.registration-form input[type="email"],
.registration-form input[type="password"],
.registration-form input[type="text"],
.use-discount-form input[type="text"],
.use-discount-form input[type="email"],
.use-discount-form input[type="password"]{
    /*padding: 15px;*/
    height: 46px;
    width: 100%;
    border: 0px solid #e0e0e0;
    background: white;
    color: black;
    font-weight: 300;
    font-size: 1.25em;
    padding-left:5px;
}
label.reglable{
    line-height: normal;
    display: block;
    padding: 10px 0 0;
    color: #fff;
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1em;
}
.reg-input-lable-container{
    width:85%;
    display: inline-block;
    position:relative;
    text-align:left;
}
.reg-fill-heading{
 display:inline-block;
}

.forget-password-href a{
 color:white;
}
.forget-password-href a:hover{
    color:black;
}
.forget-password-href{
    text-align: right;
    font-size: 1.25em;
    margin-top: 4px;
    margin-bottom: 4px;
    text-decoration: underline;
}
 .reginp{
     margin-top:15px !important;
 }
 .fb-textarea{
     max-width: 100%;
     min-width: 100%;
     min-height:90px;
 }
.generate-textarea{
    max-width: 100%;
    min-width: 100%;
    min-height:80px;
}
 .fb-button{
     margin-top:15px;
 }

 body {
     user-select:none;
     -moz-user-select: none;
     -khtml-user-select: none;
     -webkit-user-select: none;
 }

 .social {
 	margin-top:10px;
 	width: 30px;
 	height: 30px;
 	float: left;
 }

 #homepage_img img {
 	max-width:920px;
 	width: 90%;
 }
 .main .campaigns{
     margin-top: 0;
     float: left;
     width: 60%;
     height: 100%;
 }

.campaign-heading{
    text-decoration: none;
    color: #647ab7;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.1em;
    margin-bottom: 10px;
 }
.use-discount-form {
    float: right;
    width: 35%;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
    background-color: #3956a3;
    outline: none;
    min-width: 320px;
    height:240px;
}
.add-campaign-button{
    display: inline-block;
    /* margin-top: 15px; */
    height: 42px;
    line-height: 42px;
    width: 42px;
    border: none;
    background-color: #ff466a;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 1.25em;
    float:right;
}