html
     head
          meta(charset='UTF-8')
          block head
               title Cards
               meta(name="viewport", content="width=device-width, initial-scale=1")

     body
          .container
               block content



