html
     head
          meta(charset='UTF-8')
          block head
               title Cards

               meta(name="viewport", content="width=device-width, initial-scale=1")

               link(rel="stylesheet", href="vendor/stylesheets/bootstrap.min.css")
               link(rel="stylesheet", href="vendor/stylesheets/bootstrap-theme.min.css")
               link(rel="stylesheet", href="stylesheets/app.css")

               script(type="application/javascript", src="vendor/scripts/jquery-2.1.4.min.js")
               script(type="application/javascript", src="vendor/scripts/bootstrap.min.js")

     body
          .container
               block content



