extends ../layout.jade
block append head
    title Личный кабинет
block append body
        .project-description
            h2.project-description__h2
                |DISCOUNT - первый сервис,
                br
                |который сэкономит деньги
            p.project-description__p Ресурс, который позволяет экономить вам и вашим близким. Мы хотим, чтобы вы заботились о благосостоянии собственного кошелька и вспомнили о тех людях, которые вас окружают.
            p.project-description__p При помощи данного сервиса магазины расширят аудиторию. Мы против политики монополизма. Мы за разнообразие брендов.
            p.project-description__p
                |Отдельная благодарность компании
                |&nbsp
                a.project-description__a(href="http://7bits.it/")
                    |7bits
                    a
                |&nbsp
                |за предоставленную
                |стажировку, в рамках которой реализовался данный проект.