<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Add Discount for Cards</title>
</head>
<body>
<h1>Aloha, Cards team! Do u wanna add new discount to memory?</h1>
<div>
    <h3>Send</h3>
    <form action="#" th:action="@{/add_discount}" th:object="${add_discount}" method="post">
        <input th:field="*{key}" name="key" placeholder="Key" type="text" />
        <input th:field="*{uin}" name="uin" placeholder="Uin" type="text"/>
        <input th:field="*{isHidden}" name="isHidden" placeholder="Is hidden?" type="text"/>
        <input th:field="*{userId}" name="userId" placeholder="UserID" type="text"/>
        <input type="submit" value="Add Discount" />
    </form>
</div>
</body>
</html>