extends ../layout.jade
block append head
    title Обратная связь
    link(rel='stylesheet', type='text/css', href='/resources/stylesheets/developers_style.css')
block append body
    .developers
        .developers__developer
            img.developer__image(src="/resources/img/dev_avatar_vlad.png")
        .developers__developer
            img.developer__image(src="/resources/img/dev_avatar_seva.png")
        .developers__developer
            img.developer__image(src="/resources/img/dev_avatar_dima.png")
        .developers__developer
            img.developer__image(src="/resources/img/dev_avatar_egor.png")
        .developers__developer
            img.developer__image(src="/resources/img/dev_avatar_ruslan.png")