extends ../layout

block append content
    table
        thead
            tr
            th Key
            th Uin
            th UserId
        tbody
            for discount in discounts
                tr
                    td= discount.key
                    td= discount.uin
                    td= discount.userId