extends ../layout.jade
block append head
    title Домашняя страница
block append body
    .greeting
        p.greeting__p Экономьте ваши деньги и деньги ваших друзей с помощью DISCOUNT
        .greeting__button
            a(href="/registration")
                input.button__button--red(type="button", value="Начать экономить")
    .info-container
        .info-container__background
        .info-container__info
            .info__step--squad
                img.step__image--squad(src='/resources/img/bag.png')
                p.step__p--squad Совершите покупку в любом из магазинов семейного торгового центра "Мега"
            .info__step--squad
                img.step__image--squad(src='/resources/img/discount.png')
                p.step__p--squad Получите ключ скидки от продавца после совершения покупки любого товара
            .info__step--squad
                img.step__image--squad(src='/resources/img/mobile.png')
                p.step__p--squad Полученную скидку вы можете отправить своим друзьям и близким
            .info__step
                p.step__p После того как другой пользователь получит скидку и воспользуется ей, вы получите купон, который сможете использовать сами
                img.step__image(src='/resources/img/coin.png')
    .feedback
        img.feedback__image(src='/resources/img/question.png')
        p.feedback__p
            |Если у вас возникнут сложности с работой нашего сервиса, пожалуйста, обращайтесь в&nbsp
            a.feedback__a(href='/feedback') службу поддержки
            |, мы всегда рады вам помочь!
        .feedback__copyright &copy 2015, Discount
