extends ../layout
block append content
     h1 Aloha, Cards team!
     div
          a.btn.btn-primary(href="/authorization") Sign in

          //- form(action="/authorization", method="post")
               button(type="submit") Sign in

