<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Cards</title>
</head>
<body>
<h1>Aloha, Cards team!</h1>
<div>
    <h3>Send</h3>
    <form action="#" th:action="@{/send_discount}" th:object="${send}" method="post">
        <input th:field="*{userId}" name="userId" placeholder="Your userId" type="text" />
        <input th:field="*{uin}" name="uin" placeholder="Your uin" type="text"/>
        <input type="submit" value="Send" />
    </form>
</div>
<div>
    <h3>Bind</h3>
    <form action="#" th:action="@{/bind_discount}" th:object="${bind}" method="post">
        <input th:field="*{uin}" name="uin" placeholder="Your uin" type="text"/>
        <input type="submit" value="Bind" />
    </form>
</div>
<div>
    <h3>Use</h3>
    <form action="#" th:action="@{/use_discount}" th:object="${use}" method="post">
        <input th:field="*{uin}" name="uin" placeholder="Your uin" type="text"/>
        <input type="submit" value="Use" />
    </form>
</div>
</body>
</html>