extends ../layout.jade
block append head
    title Восстановление пароля
block append body
    form.form(action="/password_restore/", method="post")
        label.form__label Восстановление пароля #{registration}
        .form__input
            label.input__label Введите адрес эл. почты #{enterEmail}
            input.input__input.input-newpassword-password--sl(name="password", type="password")
            .input__error
        .form__button
            input.button__button--red.button__button-submit-js.button-newpassword-submit--sl(type="submit", value="Отправить#{signup}")