extends ../layout.jade
block append head
    title Восстановление пароля
block append body
    form.form(action="/password_restore", method="post")
        label.form__label Восстановление пароля #{registration}
        .form__input
            label.input__label Введите адрес эл. почты #{enterEmail}
            input.input__input(name="email", type="text")
            .input__error
        .form__button
            input.button__button-red.button__button-submit-js(type="submit", value="Отправить#{signup}")
    // MAIN END
    // SCRIPTS
    if loginError
        script.
            $(document).ready(function(){
                document.getElementById('login').click();
                $('.morph-content').show();
                $('#loginErrorMessage').html("Введён неверный Email или пароль.");
                $('.errorOutline').addClass("red-error");
            })
    script(src='/resources/scripts/classie.js')
    script(src='/resources/scripts/uiMorphingButton_fixed.js')
    script.
        (function () {
            var docElem = window.document.documentElement, didScroll, scrollPosition;
            // trick to prevent scrolling when opening/closing button
            function noScrollFn() {
                window.scrollTo(scrollPosition ? scrollPosition.x : 0, scrollPosition ? scrollPosition.y : 0);
            }
            function noScroll() {
                window.removeEventListener('scroll', scrollHandler);
                window.addEventListener('scroll', noScrollFn);
            }
            function scrollFn() {
                window.addEventListener('scroll', scrollHandler);
            }
            function canScroll() {
                window.removeEventListener('scroll', noScrollFn);
                scrollFn();
            }
            function scrollHandler() {
                if (!didScroll) {
                    didScroll = true;
                    setTimeout(function () {
                        scrollPage();
                    }, 60);
                }
            };
            function scrollPage() {
                scrollPosition = {
                    x: window.pageXOffset || docElem.scrollLeft,
                    y: window.pageYOffset || docElem.scrollTop
                };
                didScroll = false;
            };
            scrollFn();
            [].slice.call(document.querySelectorAll('.morph-button')).forEach(function (bttn) {
                new UIMorphingButton(bttn, {
                    closeEl: '.icon-close',
                    onBeforeOpen: function () {
                        // don't allow to scroll
                        noScroll();
                    },
                    onAfterOpen: function () {
                        // can scroll again
                        canScroll();
                    },
                    onBeforeClose: function () {
                        // don't allow to scroll
                        noScroll();
                    },
                    onAfterClose: function () {
                        // can scroll again
                        canScroll();
                    }
                });
            });
            // for demo purposes only
            [].slice.call(document.querySelectorAll('form button')).forEach(function (bttn) {
                bttn.addEventListener('click', function (ev) {
                    ev.preventDefault();
                });
            });
        })();
    script(type='text/javascript').
        function DropDown(el) {
            this.dd = el;
            this.initEvents();
        }
        DropDown.prototype = {
            initEvents: function () {
                var obj = this;
                obj.dd.on('click', function (event) {
                    $(this).toggleClass('active');
                    event.stopPropagation();
                });
            }
        }
        $(function () {
            var js_info_button = new DropDown($('#js_info_button'));
            $(document).click(function () {
                // all dropdowns
                $('.info-button').removeClass('active');
            });
        });
    //SCRIPTS END