doctype html
html
    head
        meta(charset='utf-8')
        title Регистрация
        meta(name="_csrf", content="#{_csrf.token}")
        meta(name="_csrf_header", content="#{_csrf.headerName}")
    body
        h2 Регистрация
        form(action="/registration", method="post")
            input(type="hidden", name="#{_csrf.parameterName}", value="#{_csrf.token}")
            p
                label Email
                input.form-control(name='email', type='text')
            p
                label Пароль
                input.form-control(name='password', type='password')
            p
                label Подтверждение пароля
                input.form-control(name='confirmPassword', type='password')
            p
                input.form-control(type='submit', value='Зарегистрироваться')