extends ../layout.jade
block append head
    title Регистрация
block append body
    form.form(action="/registration", method="post")
        label.form__label #{registration}
        .form__input
            label.input__label #{enterEmail}
            input.input__input.input-registration-email--sl(name="email", type="text")
            .input__error
        .form__input
            label.input__label #{enterPassword}
            input.input__input.input-registration-password--sl(name="password", type="password")
            .input__error
        .form__button
            input.button__button--red.button__button-submit-js.button-registration-submit--sl(type="submit", value="#{signup}")